.login_main {
    text-align: center;
    justify-items: center;
}

.login_container {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    border-radius: 10px;
    width: 50%;
}

.login_container .title h3 {
    text-transform: uppercase;
}

.login_container .title h4 {
    font-size: .8rem;
    font-weight: 400;
}

.login_container .login_data .social_login {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.login_container .login_data form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_container .login_data form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.login_container .login_data form label span {
    font-weight: bold;
    text-align: left;
    margin-bottom: .3em;
}

.login_container .login_data form label input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: .8em 0;
    background-color: transparent;
}


