.main{
    margin-top: 10px;
    justify-content: center;
    justify-items: center;
    
}

.mainHeader{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border: 1px solid #eee;
    width: fit-content;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
}

.mainHeader .title,
.main .container .title{
    text-transform: uppercase;
    font-family: Grifter;
}

.mainHeader .subtitle{
    font-family: GR Read One;
}

.main .container{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #eee;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.form{
    display: flex;
    flex-direction: column;
}

.form .formData{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.form .formData .docType{
    display: flex;
    align-items: center;
    gap: 10px;
}

.form .formData label{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: Grifter;
}

.form .formData label input{
    font-family: Arial, Helvetica, sans-serif;
}

