body{
  background: #282b33;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.cancelBtn {
  background: #e06666;
  color: #fff;
  border: 1px solid #660000;
  border-radius: 10px;
}

.cancelBtn:hover {
  background: transparent;
  color: #e06666
}

.saveBtn {
  background: #93c47d;
  border-radius: 10px;
  border: 1px solid #6aa84f;
  color: #fff;
}

.saveBtn:hover {
  background: #fff;
  color: #6aa84f;
}

